@import "tailwindcss";

/* body {
  overflow-x: hidden;
} */
/* ------------- animation for the circle -----------  */

@keyframes circleSlideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.circle-animation {
    animation: circleSlideInFromRight 2s ease-out forwards;
}

/* ------------- Services section card  -----------  */
.customCard {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px 2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* ------------- testimonial message shape  -----------  */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 75%, 41% 75%, 51% 90%, 60% 75%, 0% 75%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* ------------------ testimonial message quote mark -----------  */

.description p::before {
    content: open-quote;
}

.description p::after {
    content: close-quote;
}

.description p::before,
.description p::after {
    display: inline;
    color: orange;
    font-weight: bold;
}

.category {
    width: 0;
    padding-left: 10%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s ease .2s;
    position: relative;
}

.category:before {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ff4a17;
    z-index: 1;
    opacity: 1;
    
    border-radius: 0 10px 10px 0px;
	transition: .5s ease;
}

.custom-portfolio-container:hover .category:before {
	top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    opacity: 0.2;
	transition: .6s ease .3s;
}

.custom-portfolio-container:hover .category {
	width: 100%;
    padding-left: 0;
    transition: .5s ease 0s;
}