@import "tailwindcss";

body {
  overflow-x: hidden;
}
/* ------------- animation for the circle -----------  */

@keyframes circleSlideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .circle-animation {
    animation: circleSlideInFromRight 2s ease-out forwards;
  }